
body {
  margin: 0px;
  background-color: rgb(89, 207, 254);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h3{
  color: rgb(0, 0, 0);
}
a{
  text-decoration: none;
}
.mainDiv{
  width: 100%;
  text-align: center;
}
.mainDiv2{
width: 100%;
text-align: center;

}

.linkDiv{
  margin:auto;
  text-align: center;
  background-color: tomato;
  border-radius: 10px;
  border: 0px;
  margin-bottom: 10px;
  width: 40%;
}
.linkDiv:hover{
background-color: rgb(247, 127, 105);
cursor: pointer;
}

.topnav{
  overflow: hidden;
  background-color: tomato;
  margin-top: 15px;
  margin-right: 10px;
  margin-left:10px;
  border-radius: 10px;
  text-align: center;


}

.topnav a {
 float: left;
 display:block;
 color:#f2f2f2;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 height: 25px;
}

.topnav a:hover {
  background-color: rgb(247, 127, 105);
  color:rgb(255, 255, 255);
  border-radius: 10px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 30%;
  background-color: rgb(253, 148, 129);
  border-radius: 20px;
  height: 200px;
  margin-left: 1.66%;
  margin-right: 1.66%;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 
}

.row {
  margin-bottom: 2%;
}
/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

h1{
  text-align: center;
}

.btn1{
  height: 200px;
  width: 60%;
  border-radius: 20px;
  border: 0px;
  background-color: tomato;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;
  font-family: 'Lucida Console', Lucida, monospace;

}

.btn1:hover {
  background-color: rgb(247, 127, 105);
  cursor: pointer;
}

p{
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
}
h2{
  text-align: center;

}


.ech1{
  text-align: center;
}

.ech2{
  text-align: center;

}

.btn34{
  width: 160px;
  margin: auto;
}


.ecdiv2 {
border: 1px;
}

.pjt1 {
background-color: tomato;
border-radius: 10px;
border: 0px;
margin-left: 50px;
margin-right: 50px;
}

.btn56 {
  background-color: tomato;
  border: 0px;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}


.in1 {
  background-color: rgba(255, 99, 71, 0.933);
  border: 0px;
  width: 240px;
  height: 50px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.xdiv {
  display: flex;
  align-items: center;
  margin-top: 200px;
  margin-bottom: 300px;
  margin-left: 400px;
  margin-right: 400px;
  border: 0px solid green;
  height: 200px;
  background-color: rgb(242, 85, 28);
  border-radius: 15px;
}

.xd {
  width: 400px;
  background-color: antiquewhite;
}



.topnav2{
  background-color: tomato;
  margin-top: 130px;
  margin-right: 10px;
  margin-left:10px;
  border-radius: 5px;
}
.pw{
  border: 0px;
  background-color: rgb(236, 57, 26);
  width: 50px;
  height: 30px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;


}
.pw:hover{
  background-color: rgb(253, 148, 129);
  width: 60px;
  height: 30px;
}

.canvas {
  background-color: white;
  height: 600px;
  width: 1100px;
  text-align: center;
  margin-left: 50px;
}

.canvas:hover {
  cursor: crosshair;
}

table {
  border: 1px;
}

.bx{
  text-align: center;
font-size: xx-large;

}

.cbtn{
  background-color: tomato;
  border: 0px;
  border-radius: 5px;
  height: 50px;
  width: 100px;
  font-size: xx-large;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
color: #f2f2f2;
font-size: x-large;}

.cbtn:hover {
  cursor: pointer;
}

.numdiv {
  text-align: center;
  margin: auto;
  overflow:hidden;
  white-space:inherit;
margin-top: 10px;
}

.uhdiv {
  text-align: center;
}
.column2 {
  margin-top: 100px;
  float: left;
  width: 80%;
  background-color: rgb(253, 148, 129);
  border-radius: 20px;
  height: 200px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 text-align: center;
 height: 550px;
}

.apph2 {

}


.startimg {
  margin-left: -10px;
}