body {
  margin: 0px;
  font-family: 'Lucida Console', Lucida, monospace;
  background-color: rgb(39,158,206);
}

h3{
  color: rgb(0, 0, 0);
}
a{
  text-decoration: none;
}
.mainDiv{
  width: 100%;
  text-align: center;
}
.mainDiv2{
width: 100%;
text-align: center;

}

.linkDiv{
  margin:auto;
  text-align: center;
  background-color: tomato;
  border-radius: 10px;
  border: 0px;
  margin-bottom: 10px;
  width: 40%;
}
.linkDiv:hover{
background-color: rgb(247, 127, 105);
cursor: pointer;
}

.topnav{
  overflow: hidden;
  background-color: tomato;
  margin-top: 15px;
  margin-right: 10px;
  margin-left:10px;
  border-radius: 10px;
  text-align: center;


}

.topnav a {
 float: left;
 display:block;
 color:#f2f2f2;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 height: 25px;
}

.topnav a:hover {
  background-color: rgb(247, 127, 105);
  color:rgb(255, 255, 255);
  border-radius: 10px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 30%;
  background-color: rgb(253, 148, 129);
  border-radius: 20px;
  height: 200px;
  margin-left: 1.66%;
  margin-right: 1.66%;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 
}

.row {
  margin-bottom: 2%;
}
/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

h1{
  text-align: center;
}

.btn1{
  height: 200px;
  width: 60%;
  border-radius: 20px;
  border: 0px;
  background-color: tomato;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;
  font-family: 'Lucida Console', Lucida, monospace;

}

.btn1:hover {
  background-color: rgb(247, 127, 105);
  cursor: pointer;
}

p{
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
}
h2{
  text-align: center;

}


.ech1{
  text-align: center;
}

.ech2{
  text-align: center;

}

.btn34{
  width: 160px;
  margin: auto;
}


.ecdiv2 {
border: 1px;
}

.pjt1 {
background-color: tomato;
border-radius: 10px;
border: 0px;
margin-left: 50px;
margin-right: 50px;
}